doctype html
html(lang='ru')
  include ../layouts/head.pug
  body.photos
    header.page-header
      .page-header__container
        .page-header__row
          a.page-header__logo.logo(href='index.html')
            svg.logo__img(width='75' height='22' aria-label='Pink')
              use(xlink:href='img/symbols.svg#logo-pink-mobile')
          button.page-header__menu-toggle(type='button')
            svg(width='24' height='24')
              use(xlink:href='img/symbols.svg#icon-menu-cross')
            span.visually-hidden
              | Переключить меню
        nav.main-nav
          ul.main-nav__list
            li.main-nav__item
              a.main-nav__link(href='index.html')
                | Главная
            li.main-nav__item
              a.main-nav__link
                | Фотографии
            li.main-nav__item
              a.main-nav__link(href='contest.html')
                | Конкурс
            li.main-nav__item
              a.main-nav__link(href='https://htmlacademy.ru/' target='_blank')
                | HTML Academy

    main
      .hero
        .hero__container
          h1.hero__title
            | Фотографии
            br
            | пользователей
      .description
        .description__container
          p.description__text
            | Взгляните на фотографии, которые выкладывают пользователи!
            | Видите, как не хватает ваших?
      .photo.photo--big
        a.photo__img-wrap(href='#')
          .photo__container
            span.photo__flag
              | Панорама дня
          picture
            source(media='(min-width: 960px)' srcset='img/panorama-desktop@1x.jpg 1x, img/panorama-desktop@2x.jpg 2x')
            source(media='(min-width: 660px)' srcset='img/panorama-tablet@1x.jpg 1x, img/panorama-tablet@2x.jpg 2x')
            img.photo__img(src='img/panorama-mobile@1x.jpg' srcset='img/panorama-mobile@2x.jpg 2x' alt='')
          //- img.photo__img(src='img/panorama-mobile@1x.jpg' width='320' height='137' alt='')
        .photo__container
          .photo__info
            p.photo__info-header
              cite.photo__author
                | Анна
                |
              time.photo__time(datetime='2018-07-07T20:00:00')
                | (
                span
                  | 5
                span
                  |
                  | минут
                |
                | назад)
            blockquote.photo__blockquote
              | Прыгать или нет? Напишите в коментарии свой совет и смотрите
              | прямую трансляцию в перископе, задавайте свои вопросы!
            .photo__likes
              button.photo__like-btn(type='button')
                svg.photo__heart-icon(width='13' height='12')
                  use(xlink:href='img/symbols.svg#icon-heart')
              span
                | Нравится:
                span
                  |
                  | 215
      .photos__list
        .photo
          a.photo__img-wrap(href='#')
            picture
              source(
                media='(min-width: 960px)'
                srcset='img/photo-car-desktop@1x.jpg 1x, img/photo-car-desktop@2x.jpg 2x')
              source(
                media='(min-width: 660px)'
                srcset='img/photo-car-tablet@1x.jpg 1x, img/photo-car-tablet@2x.jpg 2x')
              img.photo__img(
                src='img/photo-car-mobile@1x.jpg'
                srcset='img/photo-car-mobile@2x.jpg 2x'
                alt='')
          .photo__info
            p.photo__info-header
              cite.photo__author
                | Левон
                |
              time.photo__time(datetime='2018-07-07T20:00:00')
                | (
                span
                  | 5
                span
                  |
                  | часов
                |
                | назад)
            blockquote.photo__blockquote
              | Вчера он на луну летал, сегодня в руки к нам попал.
            .photo__likes
              button.photo__like-btn(type='button')
                svg.photo__heart-icon(width='13' height='12')
                  use(xlink:href='img/symbols.svg#icon-heart')
              span
                | Нравится:
                span
                  |
                  | 356
        .photo
          a.photo__img-wrap(href='#')
            picture
              source(
                media='(min-width: 960px)'
                srcset='img/photo-drumset-desktop@1x.jpg 1x, img/photo-drumset-desktop@2x.jpg 2x')
              source(
                media='(min-width: 660px)'
                srcset='img/photo-drumset-tablet@1x.jpg 1x, img/photo-drumset-tablet@2x.jpg 2x')
              img.photo__img(
                src='img/photo-drumset-mobile@1x.jpg'
                srcset='img/photo-drumset-mobile@2x.jpg 2x'
                alt='')
          .photo__info
            p.photo__info-header
              cite.photo__author
                | Антон
                |
              time.photo__time(datetime='2018-07-07T20:00:00')
                | (
                span
                  | 12
                span
                  |
                  | часов
                |
                | назад)
            blockquote.photo__blockquote
              | Соседи будут рады!
            .photo__likes
              button.photo__like-btn(type='button')
                svg.photo__heart-icon(width='13' height='12')
                  use(xlink:href='img/symbols.svg#icon-heart')
              span
                | Нравится:
                span
                  |
                  | 666
        .photo
          a.photo__img-wrap(href='#')
            picture
              source(
                media='(min-width: 960px)'
                srcset='img/photo-window-desktop@1x.jpg 1x, img/photo-window-desktop@2x.jpg 2x')
              source(
                media='(min-width: 660px)'
                srcset='img/photo-window-tablet@1x.jpg 1x, img/photo-window-tablet@2x.jpg 2x')
              img.photo__img(
                src='img/photo-window-mobile@1x.jpg'
                srcset='img/photo-window-mobile@2x.jpg 2x'
                alt='')
          .photo__info
            p.photo__info-header
              cite.photo__author
                | Борис
                |
              time.photo__time(datetime='2018-07-07T20:00:00')
                | (
                span
                  | 20
                span
                  |
                  | часов
                |
                | назад)
            blockquote.photo__blockquote
              | Здесь могла быть ваша цитата о высоком и вечном.
            .photo__likes
              button.photo__like-btn(type='button')
                svg.photo__heart-icon(width='13' height='12')
                  use(xlink:href='img/symbols.svg#icon-heart')
              span
                | Нравится:
                span
                  |
                  | 215
        .photo
          a.photo__img-wrap(href='#')
            picture
              source(
                media='(min-width: 960px)'
                srcset='img/photo-fair-desktop@1x.jpg 1x, img/photo-fair-desktop@2x.jpg 2x')
              source(
                media='(min-width: 660px)'
                srcset='img/photo-fair-tablet@1x.jpg 1x, img/photo-fair-tablet@2x.jpg 2x')
              img.photo__img(
                src='img/photo-fair-mobile@1x.jpg'
                srcset='img/photo-fair-mobile@2x.jpg 2x'
                alt='')
          .photo__info
            p.photo__info-header
              cite.photo__author
                | Сергей
                |
              time.photo__time(datetime='2018-07-07T20:00:00')
                | (
                span
                  | 25
                span
                  |
                  | часов
                |
                | назад)
            blockquote.photo__blockquote
              | Самая кубанская в мире!
            .photo__likes
              button.photo__like-btn(type='button')
                svg.photo__heart-icon(width='13' height='12')
                  use(xlink:href='img/symbols.svg#icon-heart')
              span
                | Нравится:
                span
                  |
                  | 4
        .photo
          a.photo__img-wrap(href='#')
            picture
              source(
                media='(min-width: 960px)'
                srcset='img/photo-pov-desktop@1x.jpg 1x, img/photo-pov-desktop@2x.jpg 2x')
              source(
                media='(min-width: 660px)'
                srcset='img/photo-pov-tablet@1x.jpg 1x, img/photo-pov-tablet@2x.jpg 2x')
              img.photo__img(
                src='img/photo-pov-mobile@1x.jpg'
                srcset='img/photo-pov-mobile@2x.jpg 2x'
                alt='')
          .photo__info
            p.photo__info-header
              cite.photo__author
                | Максим
                |
              time.photo__time(datetime='2018-07-07T20:00:00')
                | (
                span
                  | 40
                span
                  |
                  | часов
                |
                | назад)
            blockquote.photo__blockquote
              | Где снег-то?
            .photo__likes
              button.photo__like-btn(type='button')
                svg.photo__heart-icon(width='13' height='12')
                  use(xlink:href='img/symbols.svg#icon-heart')
              span
                | Нравится:
                span
                  |
                  | 150
        .photo
          a.photo__img-wrap(href='#')
            picture
              source(
                media='(min-width: 960px)'
                srcset='img/photo-wing-desktop@1x.jpg 1x, img/photo-wing-desktop@2x.jpg 2x')
              source(
                media='(min-width: 660px)'
                srcset='img/photo-wing-tablet@1x.jpg 1x, img/photo-wing-tablet@2x.jpg 2x')
              img.photo__img(
                src='img/photo-wing-mobile@1x.jpg'
                srcset='img/photo-wing-mobile@2x.jpg 2x'
                alt='')
          .photo__info
            p.photo__info-header
              cite.photo__author
                | Надежда
                |
              time.photo__time(datetime='2018-07-07T20:00:00')
                | (
                span
                  | 45
                span
                  |
                  | часов
                |
                | назад)
            blockquote.photo__blockquote
              | Всем GM и взаимные лайки!
            .photo__likes
              button.photo__like-btn(type='button')
                svg.photo__heart-icon(width='13' height='12')
                  use(xlink:href='img/symbols.svg#icon-heart')
              span
                | Нравится:
                span
                  |
                  | 2560
      .description
        .description__container
          p.description__text
            | Затмите их всех!
            br
            | Выкладывайте все, что накопилось в телефоне!
      include ../components/upload.pug

    include ../layouts/page-footer.pug

    script(src='js/concatenated.js')
