section.contacts
  .contacts__container
    h2.contacts__title
      | Остались вопросы?
      br
      | Свяжитесь с нами!
    address.contacts__address
      p.contacts__group
        b.contacts__group-title
          | Звоните:
        a.contacts__link(href='tel:+78125556666')
          | +7 (812) 555-66-66
      p.contacts__group
        b.contacts__group-title
          | Пишите:
        a.contacts__link(href='mailto:mail@htmlacademy.ru')
          | mail@htmlacademy.ru
      p.contacts__group
        b.contacts__group-title
          | Приезжайте в гости:
        a.contacts__link(href='#')
          | ул. Большая
          br
          | Конюшенная, 19/8
  .contacts__map
    picture
      source(
        media='(min-width: 960px)'
        srcset='img/bg-map-desktop@1x.jpg 1x, img/bg-map-desktop@2x.jpg 2x')
      source(
        media='(min-width: 660px)'
        srcset='img/bg-map-tablet@1x.jpg 1x, img/bg-map-tablet@2x.jpg 2x')
      img(
        src='img/bg-map-mobile@1x.png'
        srcset='img/bg-map-mobile@2x.png 2x'
        alt='ул. Большая Конюшенная, 19/8')
